<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>263066582758-gljvl1md9ptqkear7ti1ah8kqtsua392.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.263066582758-gljvl1md9ptqkear7ti1ah8kqtsua392</string>
	<key>API_KEY</key>
	<string>AIzaSyCQ0qrpFKVQVwaGvwgG9d7w1MwAJm3q8Ig</string>
	<key>GCM_SENDER_ID</key>
	<string>263066582758</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.selfHelp</string>
	<key>PROJECT_ID</key>
	<string>shg2022-ee3eb</string>
	<key>STORAGE_BUCKET</key>
	<string>shg2022-ee3eb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:263066582758:ios:548f6c79e0c75bb04fc527</string>
</dict>
</plist>